BBQ-*
BBQ-*.tar.gz
blib/
_build/
.build/
Build
!Build/
Build.bat
cover_db/
inc/
.last_cover_stats
.lwpcookies
Makefile
Makefile.old
MANIFEST.bak
META.*
MYMETA.*
nytprof.out
nytprof.out
pm_to_blib
pod2htm*.tmp
